body{
    .opensrc{
        color: #3d3c3c;
    }
    width: 100%;
    .jumbotron{ 
        margin-bottom: 0px;
    }
    h4{
        font-weight: 200;
    }
    font-family: 'Lato', sans-serif;
    .page-header{
        background: #789900!important;
        .navbar{
            a{
                color:white;
            }
        }
        .nav-link{
            color:#dee2e6;
        }
    }
    .starter{
        background-color: #8080801c;
        padding: 10px;
        a{
            color:#04aa4e;
        }
    }
    .banner{
        background: #789900;
        color: white;
    }
    .features{
        padding: 20px 0 20px 0;
        h2{
            color: #789900 ;
        }
    }
    .cli{
        background: #8080801f;
        padding: 40px 0 40px 0;
        h2{
            color: #789900 ;
        }
        a{ 
            margin: 20px;
        }
        .cli-img{
            width: 100%;
        }
    }
    .sponsor{
        padding: 40px 0 40px 0;
        h1{
            color: #789900 ;
        }
        .img-sponsor{
            width: 100%;
            padding-bottom: 10px;
        }
    }
    footer{
        padding: 20px;
        color: white;
        background:#000c;
        h5{
            color: #789900 ;
        }
    }
}
